.hem-icon-container {
  width: 200px;
  height: 110px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.hem-icon-image {
  width: auto;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.hem-icon-root-class-name {
  height: 100%;
}
@media(max-width: 479px) {
  .hem-icon-container {
    width: 150px;
    height: 80px;
    align-items: center;
    justify-content: center;
  }
  .hem-icon-image {
    width: auto;
    height: 100%;
    align-self: center;
  }
  .hem-icon-root-class-name {
    width: 150px;
    height: 100%;
  }
}
